.calculator{
    height: 365px;
    width: 280px;
    /* background-color: #e8e8e8; */
    background-color: #03203C;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid #777;
}

.display-bar{
    margin-bottom: 20px;
    text-align: right;
}

.number-btn{
    font-size: 20px;
    cursor: pointer;
    width: 53px;
    margin-left: 6px;
    background-color: #383CC1;
    color: white;
}

.other-btn{
    background-color: #1FAA59;
    color: white
}

.number-btn-special{
    font-size: 20px;
    cursor: pointer;
    width: 53px;
    margin-left: 6px;
    background-color: #E49B0F;
    color: black;
    font-weight: 600;
}

.line{
    margin-bottom: 12px;
}

.last input{
    width: 118px;
    margin-left: 5px;
}