.calculator{
    height: 365px;
    width: 280px;
    background-color: #e8e8e8;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid #777;
}

.display-bar{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: right;
}

.number-btn{
    font-size: 20px;
    cursor: pointer;
    width: 53px;
    margin-left: 6px;
}

.line{
    margin-bottom: 12px;
}

.last input{
    width: 118px;
    margin-left: 5px;
}